@model IEnumerable<Domain.DiffieHellman>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PrimeNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommonNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecretOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecretTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CipherText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrimeNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommonNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecretOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecretTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CipherText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
